@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

body {
  background-color: #f3e9de;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-content: stretch;
  margin: 0px;
  padding: 0px;
}

.nav {
  background-color: #faf4ec;
  color: #256993;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  position: fixed;
  width: 25%;
}

.nav > h2 {
  text-align: center;
}

main {
  text-align: center;
  grid-column: 2/ span 4;
}

main > h2 {
    color: #256993;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer {
    color: #256993;
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 600px)